[Unit]
Description=Dosbian loading service
DefaultDependencies=no

[Service]
#ExecStart=/usr/bin/fbi -noverbose /usr/local/share/dosbian-x/splash.jpg
ExecStart=/usr/local/bin/boot_sequence

StandardInput=tty
StandardOutput=tty


[Install]
WantedBy=multi-user.target
